<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxuwz.subject.mapper.ProjectMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gxuwz.subject.model.ProjectModel">
        <id column="project_id" property="projectId" />
        <result column="name" property="name" />
        <result column="organization" property="organization" />
        <result column="format" property="format" />
        <result column="teacher_id" property="teacherId" />
        <result column="phone" property="phone" />
        <result column="mail" property="mail" />
        <result column="start_date" property="startDate" />
        <result column="end_date" property="endDate" />
        <result column="major" property="major" />
        <result column="sponsor" property="sponsor" />
        <result column="contractor" property="contractor" />
        <result column="project_date" property="projectDate" />
        <result column="objective" property="objective" />
        <result column="invitation" property="invitation" />

        <association property="projectApply" javaType="com.gxuwz.subject.model.ProjectApplyModel">
            <id column="id" property="id" />
            <result column="project_id" property="projectId" />
            <result column="budget_id" property="budgetId" />
            <result column="opinion" property="opinion" />
            <result column="status" property="status" />
        </association>

    </resultMap>

    <select id="findByName" resultMap="BaseResultMap">
        select sys_project.*,id, status, budget_id,opinion
        from project_apply, sys_project
        where project_apply.project_id = sys_project.project_id
        <if test="status != null and status != '' ">
            and project_apply.status = #{status}
        </if>
        <if test="name != null and name != '' ">
            and sys_project.name like "%" #{name} "%"
        </if>
        <if test="teacherId != null and teacherId != '' ">
            and sys_project.teacher_id = #{teacherId}
        </if>

    </select>



</mapper>
