<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxuwz.subject.mapper.TeacherMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gxuwz.subject.model.TeacherModel">
        <id column="teacher_id" property="teacherId" />
        <result column="account_num" property="accountNum" />
        <result column="teacher_name" property="teacherName" />
        <result column="college_no" property="collegeNo" />
    </resultMap>

</mapper>
