<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxuwz.subject.mapper.TeamMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gxuwz.subject.model.TeamModel">
        <id column="team_no" property="teamNo" />
        <result column="team_name" property="teamName" />
        <result column="title" property="title" />
        <result column="project_id" property="projectId" />
        <result column="enroll_time" property="enrollTime" />
        <result column="teacher_id" property="teacherId" />

        <collection property="memberList" ofType="com.gxuwz.subject.model.TeamMemberModel">
            <id column="member_no" property="memberNo" />
            <result column="team_no" property="teamNo" />
            <result column="student_no" property="studentNo" />
            <result column="student_name" property="studentName" />
            <result column="college_name" property="collegeName" />
            <result column="class_name" property="className" />
            <result column="grade" property="grade" />
            <result column="major" property="major" />
            <result column="mail" property="mail" />
            <result column="mobile_number" property="mobileNumber" />
        </collection>

    </resultMap>


    <select id="findAll" resultMap="BaseResultMap">
        /*select sys_team.*,member_no,student_no, student_name,college_name,
            class_name, grade, major, mail, mobile_number
             FROM sys_team ,team_member
            where sys_team.team_no = team_member.team_no and sys_team.delete_flag = 0*/

        select * FROM sys_team team
        inner join team_member member on team.team_no = member.team_no
        where team.delete_flag = 0
            <if test="title != null and title != ''">
                and team.title like "%" #{title} "%"
            </if>
            <if test="teacherId != null and teacherId != ''">
                and team.teacher_id = #{teacherId}
            </if>
            <if test="current != null ">
                <if test="limit != null ">
                    limit #{current}, #{limit}
                </if>
            </if>
    </select>


    <select id="getTotal" resultType="java.lang.Integer">
        select count(*) FROM sys_team team
--         inner join team_member member on team.team_no = member.team_no
        where team.delete_flag = 0
        <if test="title != null and title != ''">
            and team.title like "%" #{title} "%"
        </if>
        <if test="teacherId != null and teacherId != ''">
            and team.teacher_id = #{teacherId}
        </if>
    </select>

</mapper>
