<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxuwz.subject.mapper.TeamMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gxuwz.subject.model.TeamModel">
        <id column="team_no" property="teamNo" />
        <result column="team_name" property="teamName" />
        <result column="project_id" property="projectId" />
        <result column="enroll_time" property="enrollTime" />
        <result column="teacher_id" property="teacherId" />
    </resultMap>

</mapper>
